body {
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }

  .flex-container {
    display: flex;
  }
  
  #navbar {
    top: 0;
    position: sticky;
    padding: 8px 32px;
  }
  
  #navbar ul {
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    padding: 8px 32px;
    margin: 0;
    border-radius: 8px;
    list-style-type: none;
  }
  
  #navbar ul li {
    margin: 0 16px;
  }

  .nav-link {
    text-decoration: none;
    font-family: "Raleway", "sans-serif";
    font-size: 1.3em;
    font-style: normal;
    font-weight: 500;
    color: rgb(33, 148, 180);
  }
  
  .nav-link:visited {
    color: rgb(33, 148, 180);
  }
  
  .nav-link:hover {
    color: rgb(255, 187, 78);
  }

  #welcome-section {
    display: flex;
    
    background-image: url('https://i1.pickpik.com/photos/286/102/482/textures-abstract-245131dc8299bcebbe002f07bbb65c90.jpg');
    background-repeat: no-repat;
    background-position: center;
    height: 700px;
    background-color: rgba(0, 0, 0, .15);
    background-blend-mode: multiply;
  }
  
  #welcome-section h1 {
    text-align: center;
    margin: auto;
    font-family: "Raleway", "sans-serif";
    color: white;
    font-size: 2.4em;
  }