body {
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }

  main {
    margin-top: -83px;
  }

  .text-center {
    text-align: center;
  }

  .flex-container {
    display: flex;
  }
  
  /* Navbar */

  #navbar {
    top: 0;
    position: sticky;
    padding: 16px 54px;
    
  }
  
  #navbar ul {
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    border-radius: 8px;
    padding: 12px 36px;
    margin: 0;
    justify-content: flex-end;
    list-style-type: none;
    gap: 0;
  }
  
  #navbar ul li {
    margin: 0 16px;
  }

  .nav-link {
    text-decoration: none;
    font-family: "Raleway", "sans-serif";
    font-size: 1.3em;
    font-style: normal;
    font-weight: 500;
    color: rgb(29, 138, 168);
  }
  
  .nav-link:visited {
    color: rgb(33, 148, 180);
  }
  
  .nav-link:hover {
    color: rgb(255, 184, 92);
  }

  #welcome-section {
    display: flex;
    background-image: url('https://i1.pickpik.com/photos/286/102/482/textures-abstract-245131dc8299bcebbe002f07bbb65c90.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    background-color: rgba(0, 0, 0, .15);
    background-blend-mode: multiply;
  }
  
  #welcome-section h1 {
    text-align: center;
    margin: auto;
    font-family: "Raleway", "sans-serif";
    color: white;
    font-size: 2.5em;
  }

  .stuff-highlight {
    color: rgb(255, 187, 78);
  }

  #projects {
    background-color: rgb(33, 97, 122);
    padding: 80px 42px 100px 42px;
  }
  
  #projects h1 {
    text-align: center;
    margin-bottom: 24px;
    font-family: "Raleway", "sans-serif";
    font-size: 2em;
    color: white;
    margin-top: 0;
    margin-bottom: 42px;
  }
  
  #project-tiles {
    display: grid;
    gap: 32px;
    grid-template-columns: auto auto auto;
    place-content: center center;
  }

  #project-tiles a {
    text-decoration: none;
  }
  
  .project-tile {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
  }

  .project-tile:hover {
    transform: scale(1.1); 
    transition: all .15s ease-in-out; 
  }

  .project-title {
    background-color: rgb(79, 101, 110);
    padding: 10px 16px;
    font-size: 1.2em;
    font-family: "Raleway", "sans-serif";
    color: white;
  }

  .project-tile:hover .project-title {
    background-color: rgb(95, 181, 184);
    color: rgb(255, 184, 92)
  }
  
  #project-1, #project-2, #project-3,  #project-4,  #project-5 {
    background-image: url("https://cdn.prod.website-files.com/630a4d18e83aaa000bcd651e/6675d915fee34d042a96403e_shutterstock_1858920145.jpg");
  }
  
  #project-6  {
    background-image: url("images/Rick.png");
  }

  #more-stuff-container {
    margin-top: 60px;
  }

  #more-stuff {
    border-radius: 8px;
    padding: 20px;
    text-decoration: none;
    background-color: rgb(79, 101, 110);
    font-size: 1.2em;
    font-family: "Raleway", "sans-serif";
    color: white;
    font-weight: 500;
  }

  #more-stuff:hover {
    background-color: rgb(95, 181, 184);
    color: rgb(255, 184, 92);
  }

  footer {
    height: 200px;
    background-color: rgb(61, 87, 97);
  }

  @media only screen and (max-width: 1360px) {
    #project-tiles {
      grid-template-columns: auto auto ;
      place-content: center center;
    }
  }

  @media only screen and (max-width: 960px) {
    #navbar ul li {
      margin: 0 auto;
    }

    #navbar ul {
      justify-content: center;
      padding: 12px 20px;
    }

    #project-tiles {
      grid-template-columns: auto;
      place-content: center center;
    }
    .project-tile {
      width: 500px;
      height: 375px;
    }
  }

  @media only screen and (max-width: 720px) {
    .project-tile {
      width: 400px;
      height: 300px;
    }
  }

  @media only screen and (max-width: 560px) {
    .project-tile {
      width: 300px;
      height: 225px;
    }

  }